<%- include('../../partials/header') -%>
<body>
<div class="container ">
    <hr>
    <div class="card col-md-4">
        <div class="card-header">
            <h2>Criação de Usuário</h2>
        </div>
        <div class="card-body ">
            <form action="/users/create" method="POST">
                <input class="form-control" name="email" type="email" placeholder="example@email.com">
                <br>
                <input class="form-control" name="password" type="password" placeholder="******">
                <br>
                <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
</body>

<%- include ('../../partials/footer') -%>